.server-error {
    text-align: center;
    color: red;
}
.signup input {
    padding: 5px;
    margin: 10px;
}
.signup label {
    display: flex;
    align-items: center;
}
.signup-link {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-decoration: none;
    color: #000;
    &:hover {
        color: rgb(74, 187, 221);
    }
}