@import url('https://fonts.googleapis.com/css?family=Zilla+Slab'); 
@import url('https://fonts.googleapis.com/css?family=Spectral+SC:200,400'); 
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic'); 
.app {
    display: flex;
    flex-direction: column;
    height: 100%;
} 
@media (max-width: 530px){ 
.app {
        /* height: auto; */
}
    } 
.app-container {
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    align-items: center;   
    transition: -webkit-transform 0.9s;   
    transition: transform 0.9s;   
    transition: transform 0.9s, -webkit-transform 0.9s;
 } 
@media (max-width: 530px){ 
.app-container {
        display: block
 }
    } 
.app-container-front h2 {
            font-size: 1.1em;
            margin-bottom: 10px;
            /* font-family: 'Raleway', sans-serif; */
            /* font-family: 'Barlow Condensed', sans-serif; */
             font-weight: 300;
        } 
@media (min-width: 800px){ 
.app-container-front h2 {
                margin-top: 30px
        }
    } 
/* background: tomato; */ 
@media (min-width: 800px){ 
.app-container-front {
            /* height: 800px; */
            /* margin-top: -50px; */
    }
    } 
.app-container h4 {
     font-size: 1.1em;
     font-weight: 300;
     text-align: center;
 } 
@media (min-width: 800px){ 
.app-container h4 {
         margin-top: 40px;
         margin-bottom: 20px
 }
    } 
.flashcards {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;

} 
@media (max-width: 530px){ 
.flashcards {
        display: block

}
    } 
.flashcards-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        width: 60%;
        -webkit-animation: moveIn 2s ease-out;
                animation: moveIn 2s ease-out;
    } 
@media (max-width: 530px){ 
.flashcards-grid {
            width: auto
    }
    } 
.flashcards-p {
        font-family: 'Spectral SC', serif; 
        font-size: 0.9em;
        color: #7f7f7f;   
        text-align: center;
        margin-top: 20px;
    } 
.flashcards-add-title-input {
                border: none;
                border-radius: 4px;
                padding: 10px;
            } 
.flashcards-item {
        position: relative;
        /* width: 400px;
        height: 400px; */
        margin-left: 10px;
        margin-bottom: 10px;
        padding: 5px;
        border: 1px solid #ededed;
    } 
/* animation: moveIn 1s ease-out; */ 
@media (max-width: 530px){ 
.flashcards-item {
            margin-left: 0
    }
    } 
.flashcards-item-correct {
            border-color: rgb(85, 232, 98);
            /* border-color: rgba(194, 255, 186, 1); */
        } 
.flashcards-item-inner {
            margin-bottom: 2px;
        } 
.flashcards-item img {
            width: 200px;
            height: 200px;
        } 
@media (max-width: 530px){ 
.flashcards-item img {
                width: 300px;
                height: 300px
        }
    } 
.flashcard-create-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
/* margin: 20px; */ 
@media (min-width: 800px){ 
.flashcard-create-area {
        flex-direction: row
}
    } 
.flashcard-edit {
    border: none;
    border-radius: 4px;
    /* border: 1px solid black; */
    height: 200px;
    /* max-height: 400px; */
    width: 300px;
    margin: 20px;
    text-align: center;
    word-wrap: break-word;
} 
@media (max-width: 530px){ 
.flashcard-edit {
        margin: 0;
        margin-top: 10px
}
    } 
.flashcard-add {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
} 
.flashcard-add-button {
    /* border: 1px solid #e0e0e0; */
    border: none;
    border-radius: 4px;
    min-height: 40px;
    color: #666666;
    background: white;
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
} 
.flashcard-add-button:hover {
        background: #efefef;
    } 
@media (max-width: 530px){ 
.flashcard-add-button {
        margin-top: 10px
}
    } 
.flashcard-add-error {
    margin-top: 5px;
    color: lightcoral;
} 
.flashcard-english {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: #fff; */
    /* background: rgba(255,255,255,1); */
    border-top: 1px solid #ededed;
} 
.flashcard-english-correct {
        color: rgb(85, 232, 98);
    } 
.flashcard {
    transition: all 2s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255,255,255,0.5);
} 
.flashcard-input {
        width: 100%;
        margin-bottom: 4px;
    } 
.flashcard-input form {
            display: flex;
            justify-content: center;
        } 
.flashcard-input form input {
                padding: 5px 0 5px 0;
            } 
.flashcard-visible {
        height: 80%;
    } 
/* opacity: 0.6; */ 
.flashcard-correct {
        background: rgba(194, 255, 186,0.6);
        color: #494949;
        font-size: 1.5em;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    } 
.flashcard-correct p {
            text-align: center;
            margin-top: 40%;
        } 
.flashcard div {
        /* transition: all 1s ease-out;  */
        margin-top: 40%;
    } 
.flashcard div input {
            padding: 10px;
            outline: none;
        } 
.flashcard-answer {
        font-size: 1.6em;
        margin-top: 40%;
    } 
.special-characters {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
} 
.special-characters-clicks {
        display: flex;
        flex-direction: row;
        justify-content: center;
    } 
.special-characters-clicks div {
            margin: 5px;
            padding: 10px;
            padding-left: 20px; 
            padding-right: 20px;
            /* display: flex; */
            /* justify-content: space-around; */
            border: 1px solid #e0e0e0;
        } 
.special-characters-numbers {
        display: flex;
        flex-direction: row;
        justify-content: center;
    } 
.special-characters-numbers div {
            margin: 0 5px 0 5px;
            padding: 2px;
            padding-left: 23px; 
            padding-right: 20px;
            /* display: flex; */
            /* justify-content: space-around; */
        } 
.special-characters-numeric {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    } 
.special-characters-numeric-verb {
            display: flex;
            flex-direction: row;
            justify-content: space-around; 
            padding: 0;
        } 
.special-characters-numeric-verb div {
                
            } 
.flags-h2 {
    color: pink;
} 
.flag-french {
    height: 50vh;
    width: 100vw; 
} 
@media (min-width: 800px){ 
.flag-french {
        position: absolute;
        left: 0;
        width: 100vw;
        height: 90vh;
        -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
                clip-path: polygon(0 0, 100% 0, 0 100%)
        /* animation: moveFrench 1s ease-out; */ 
}
    } 
@media (min-width: 1800px){ 
.flag-french {
        height: 90vh 
}
    } 
.flag-german {
    height: 50vh;
    width: 100vw;
} 
@media (min-width: 800px){ 
.flag-german {
        position: absolute;
        left: 0;
        width: 100vw;
        height: 90vh;
        bottom: 0;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
                clip-path: polygon(100% 0, 100% 100%, 0 100%)
        /* animation: moveGerman 1s ease-out; */
}
    } 
@media (min-width: 1800px){ 
.flag-german {
        height: 90vh
}
    } 
.single-language {
    margin-bottom: 20px;
} 
.single-language a {
        text-decoration: none;
    } 
@media (min-width: 800px){ 
.single-language {
        /* margin-left: 30px; */
}
        .single-language img {
            /* width: 300px; */
            /* height: 200px; */
        }
    } 
.single-language:hover {
        /* opacity: 0.6; */
    } 
.flags-container {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
     display: block; 
     justify-content: center; 
     align-items: center;
} 
.flags-container-flags {
         display: flex;
         flex-direction: column;
     } 
@media (min-width: 800px){ 
.flags-container-flags {
             flex-direction: row
     }
    } 
@-webkit-keyframes moveFrench {
    0% {
        -webkit-transform: translateX(-1000px);
                transform: translateX(-1000px);
    }
    100%{
        -webkit-transform: translate(0);
                transform: translate(0);
    }
} 
@keyframes moveFrench {
    0% {
        -webkit-transform: translateX(-1000px);
                transform: translateX(-1000px);
    }
    100%{
        -webkit-transform: translate(0);
                transform: translate(0);
    }
} 
@-webkit-keyframes moveGerman {
    0% {
        -webkit-transform: translateY(1000px);
                transform: translateY(1000px);
    }
    100% {
        -webkit-transform: translate(0);
                transform: translate(0);
    }
} 
@keyframes moveGerman {
    0% {
        -webkit-transform: translateY(1000px);
                transform: translateY(1000px);
    }
    100% {
        -webkit-transform: translate(0);
                transform: translate(0);
    }
} 
.menu-icon {
    position: absolute;
    /* z-index: 10; */
    width: 30px;
    height: 21px;
    /* top: 10px; */
    top: 15px;
    right: 5px;
    background: white;
} 
@media (min-width: 800px){ 
.menu-icon {
        right: 7px;
        /* top: 15px; */
        top: 3.6vh
}
    } 
@media (min-width: 1800px){ 
.menu-icon {
        /* top: 1.8vh; */
}
    } 
.menu-icon::before {
        content: "";
        top: 0;
        left: 0;
        position: absolute; 
        background: black;
        width: 30px;
        height: 3px;
        transition: -webkit-transform .2s ease-out;
        transition: transform .2s ease-out;
        transition: transform .2s ease-out, -webkit-transform .2s ease-out;
    } 
.menu-icon-middle {
        background: black;
        position: absolute;
        top: 9px;
        width: 30px;
        height: 3px;
        transition: all .2s ease-out;
    } 
.menu-icon::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 3px;
        bottom: 0;
        left: 0;
        background: black;
        transition: -webkit-transform .2s ease-out;
        transition: transform .2s ease-out;
        transition: transform .2s ease-out, -webkit-transform .2s ease-out;
    } 
.menu-icon-close::before {
        -webkit-transform: rotate(45deg) scaleX(1) translateY(6px) translateX(4px);
                transform: rotate(45deg) scaleX(1) translateY(6px) translateX(4px);
    } 
.menu-icon-close .menu-icon-middle {
       opacity: 0;
       -webkit-transform: scaleX(0);
               transform: scaleX(0); 
    } 
.menu-icon-close::after {
        -webkit-transform: rotate(-45deg) scaleX(1) translateY(-8px) translateX(7px);
                transform: rotate(-45deg) scaleX(1) translateY(-8px) translateX(7px);
    } 
.menu-mobile-button {
    margin-top: 10px;
    font-family: 'Spectral SC', serif;
    margin-bottom: 10px;
    padding: 5px 0 5px 0;
    text-align: center;
} 
@media (min-width: 800px){ 
.menu-mobile-button {
        display: none
}
    } 
.menu-container {
    background: white;  
    width: 100%;
    display: flex;  
    z-index: 20;
    flex-direction: column; 
    height: 70px;
    padding-top: 20px;
} 
@media (max-width: 530px){ 
.menu-container {
        margin-top: 0
}
    } 
@media (min-width: 800px){ 
.menu-container {
        height: 10vh;
        margin-top: 0;
        padding-top: 0;
        flex-direction: row
}
    } 
@media (min-width: 1800px){ 
.menu-container {
        height: 10vh
}
    } 
.menu-container-group {
        display: flex;
        flex-direction: row;
    } 
.menu-container a {
    font-family: 'Spectral SC', serif;
    font-size: 0.9em;
    /* color: #ffc9ad; */
    text-decoration: none;
    /* color: #dbdbdb; */
    color: #afafaf;
    /* color: pink; */
    padding: 10px;
    /* color: #ff9e9e; */
} 
.menu-container-logo {
   
    flex: 0.3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
} 
.menu-container-logo-span {
        font-size: 1.2em;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    } 
.menu-container-logo-span strong {
            /* font-family: 'Didact Gothic', sans-serif; */
            font-family: 'Spectral SC', serif;
            font-weight: 200;
        } 
/* color: blue; */ 
.menu-container-logo-span strong span {
                font-family: 'Spectral SC', serif;
                font-weight: 200;
            } 
@media (min-width: 800px){ 
.menu-container-logo {
        margin-left: 40px
}
    } 
.menu-container-links {
    flex: 1.4; 
    flex-direction: column;
    justify-content: center;
    display: none;
    align-items: center;
} 
@media (min-width: 800px){ 
.menu-container-links {
        display: flex; 
        flex-direction: row
}
    } 
.menu-container-links-show {
        display: flex;
        background-color: #fff;
        position: fixed;
        z-index: 20;
        top: 70px;
        width: 100vw;
        height: 70vh;
    } 
.menu-container-out {
    flex: 0.3;
    display: none;
    justify-content: flex-end;  
    align-items: center;
} 
.menu-container-out a {
        display: flex;
        justify-content: center;
        flex: 1;
    } 
@media (min-width: 800px){ 
.menu-container-out {
        margin-right: 40px;
        display: flex
}
    } 
.menu-container-out-show {
        top: calc(70px + 70vh);
        width: 100vw;
        display: flex;  
        justify-content: center;
        position: fixed;
        bottom: 0;
        background-color: #fff;
        z-index: 20;
    } 
@media (min-width: 800px){ 
.menu-container a:not(:first-child){
        /* margin-left: 40px; */
}
    } 
.menu-container a:hover { 
     /* color: #fc8585;  */
      color: #848484; 
} 
.menu-bar-icon {
    position: absolute;
    font-size: 1.5em;
    top: 5px;
    right: 10px;
} 
@media (max-width: 600px){
    .menu-bar-icon {
        right: 3px;
    }
} 
.lang-french-logo {
    /* color: rgb(34, 156, 194); */
    color:rgb(74, 187, 221);
} 
.lang-german-logo {
    color: rgb(238, 110, 110);
} 
.active-link {
    /* color: rgb(250, 157, 172) !important;  */
    color:rgb(74, 187, 221) !important;
    border-bottom: 1px solid rgb(74, 187, 221); 
    /* color: #fff !important; */
} 
.right-menu {
    /* color: #474747; */
    /* color: #adadad; */
    color: #d1d1d1;
    z-index: 30;
    position: fixed;
    /* top: 9vh; */
    top: 70px;
    right: 0;
    bottom: 20px;
     /* box-shadow: 0px 5px 15px black inset;  */
    height: 100%;
    width: 300px;
    background: #232323;
    /* background: #f4f4f4; */
    /* background: #efefef; */
    /* background: #3a3a3a; */
    /* background: #1e1e1e; */
    /* background: #3a3a3a; */
    /* border-left: 5px solid #232323;  */
    /* transition: width 1s; */
    transition: -webkit-transform 0.9s;
    transition: transform 0.9s;
    transition: transform 0.9s, -webkit-transform 0.9s;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
} 
@media (min-width: 800px){ 
.right-menu {
        top: 10vh;
        width: 15vw
}
    } 
@media (min-width: 1800px){ 
.right-menu {
        /* top: 6vh; */
}
    } 
.right-menu-links {
        text-align:center; 
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        /* justify-content: flex-end; */
    } 
.right-menu a {
        font-family: 'Zilla Slab', serif;
        margin-top: 10px;
        margin-left: 0px !important;
    } 
.right-menu p {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    } 
@media all and (min-width: 320px) {
  .right-menu {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
} 
.right-menu-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    /* display: block; */
    /* transform: translate3d(300px, 0, 0); */
    /* width: 300px; */
} 
.tenses {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-top: 35px;
    background-color: #94849B;
} 
.tenses-header {

    } 
.tenses-submit {
        text-decoration: none;

        color: #F8F7FF;   
        font-family: 'Spectral SC', serif; 
        font-size: 0.8em;
    } 
.tenses p {
        color: #F8F7FF;   
        font-family: 'Spectral SC', serif;
     } 
.tenses-select-more {
    font-size: 0.8em;   
} 
.tense-ul {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 200px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    /* font-family: 'Spectral SC', serif; */
} 
.tense-link-li {
    text-decoration: none;
    list-style: none;
    width: 100%;
} 
.tense-link {
    cursor: pointer;
    color: #7f7f7f;
    /* border: 1px solid #fff; */
    font-family: 'Spectral SC', serif;
    text-align: center;
    padding: 10px; 
    margin-bottom: 10px;
    /* background-color: #94849B; */
    background-color: #fff;
    border-radius: 6px;
    transition: background-color 1s ease-out; 
    /* transition-property: background-color,color;  */
    /* color: black; */
} 
.tense-link:hover {
    /* background-color: #ff9e9e; */
} 
.tense-clicked {
    /* background: #ff9999; */
    border-color: #CDD6DD;
    background-color: #ffeccc;
    /* color: #fff; */
     /* background-color: #ff9e9e;  */
     /* background-color: #FFD4CA; */
     /* background-color: #94849B; */
     /* background-color: #fff; */
    /* background: #ffcab7; */
    /* color: #f9f9f9; */
    /* color: #7f7f7f; */
    /* color: #fff; */
} 
.all-tenses {
    color: #7f7f7f;
    /* border: 2px solid #7f7f7f; */
    /* font-size: 0.8em; */
    /* border-color: #ffeccc; */
    background-color: #fff;
    /* background: #ffeccc; */
    /* background-color: #ffd272; */
    /* border-color: #D8A7CA; */
    /* background-color: #D8A7CA; */
    /* transition: background-color 2s; */
    transition: all 1s; 
    text-decoration: none;
} 
.all-tenses:hover {
    /* border-color: #fcbe92; */
    background-color: #fcbe92;
} 
/* .practice-link a{
    color: black;
    font-size: 1.2em;
    text-decoration: none;
} */ 
.practice-link a:hover {
    color: #CDD6DD;
} 
.change-tense { 
    position: absolute;
    min-width: 120px;
    text-align: center;
    background-color: #fff;
    margin-top: 20px;
    margin-left: -30px;
    border-radius: 4px;
    border: 1px solid #fff;
    font-weight: 300; 
    font-size: 0.6em;
    color: #7f7f7f;
} 
@media (max-width: 530px){ 
.change-tense {
        position: relative;
        margin-left: 0
}
    } 
.change-tense-item {
        text-align: center;
        padding: 5px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-top: 2px;
    } 
.change-tense-item-selected{
            background-color: #ffeccc;
            border-radius: 2px;
        } 
.change-tense-clicked {
        /* border: 1px solid #7f7f7f; */
        /* color: #7f7f7f; */
    } 
.change-tense-button {
        margin-top: 1px;
        cursor: pointer;
        padding: 10px;
        font-family: 'Spectral SC', serif;
        font-weight: 400;
    } 
.change-tense-submit {
        cursor: pointer;
        text-align: center;
        padding: 10px 0 10px 0;
        margin-top: 3px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        /* background-color: #9D858D; */
        color: #7f7f7f;
    } 
/* border-top: 1px solid #7f7f7f; */ 
.change-tense-submit:hover {
            color: #ffeccc;
        } 
.card-container {
    display: flex; 
    flex: 1;
    align-items: center;
    flex-direction: column;
    font-family: 'PT Serif', serif;  
    font-size: 1.2em;
    -webkit-animation: moveIn .3s ease-out;
            animation: moveIn .3s ease-out;
} 
@media (max-width: 530px){ 
.card-container {
        margin-bottom: 5px
}
    } 
.card-content {
    width: 600px;
    margin-top: 80px;
    padding: 30px 50px 20px 50px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    color: #7f7f7f;
} 
@media (max-width: 530px){ 
.card-content {
        width: auto;
        padding: 20px 0 20px 0;
        margin-top: 20px;
        margin-bottom: 5px;
        margin-left: 10px;
        margin-right: 10px
}
    } 
.card-change {
    width: 600px;
    display: flex;
} 
@media (max-width: 530px){ 
.card-change {
        width: 100%;
        justify-content: center
}
    } 
.verb-input {
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: #7f7f7f; */
} 
.verb-field {
    width: 400px;
} 
@media (max-width: 530px){ 
.verb-field {
        width: auto
}
    } 
.verb-pronoun {
    text-align: center;
    width: 80px;
    margin-right: 20px;
} 
@media (max-width: 530px){ 
.verb-pronoun {
        margin-right: 0
}
    } 
.verb-tense {
    text-align: center;
} 
@media (max-width: 530px){ 
.verb-tense {
        margin-bottom: 20px
}
    } 
.verb-form {
    width: 100%;
} 
.verb-inner-meaning {
    font-size: 1.1em;
    width: 100%;
    text-align: center;
    padding-bottom: 13px;
} 
.verb-inner-meaning span {
        margin-left: 20px;
    } 
.input-field {
    /* padding: 20px; */
    /* color: #7f7f7f; */
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* justify-content: space-between; */
    flex-wrap: wrap;
} 
@media (max-width: 530px){ 
.input-field {
        margin-right: 10px
}
    } 
.input-verb {
    text-align: center;
    color: #7f7f7f;
    /* padding: 10px; */
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.0em;
    width: 100%;
    outline: none;
} 
@media (max-width: 530px){ 
.input-verb {
        margin-top: 0
}
    } 
/* @media (max-width: 600px){
    .input-verb {
        margin: 0 auto;
        margin-top: 15px;
    }
    .input-person {
        width: 100%;
    }
} */ 
.input-person {
    min-width: 80px;
    display: flex;
    /* align-items: center; */
    /* margin-top: 5px; */
    justify-content: center;
    margin-top: 10px;
} 
.incorrect {
    /* border: 1px solid red; */
    border: none;
    margin: 2px;
    box-shadow: 0 0 1px 1px red;
} 
.very-correct {
    border: none;
    margin: 2px;
    box-shadow: 0 0 1px 1px #94ef94;
    /* border: 1px solid #94ef94;  */
    /* background: #94ef94; */
} 
.verb-hint {
    /* opacity: 0; */
    color: black;
     display: flex; 
    flex-direction: row;
    margin-top: 10px;
} 
.verb-hint span {
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    margin-right: 3px;
} 
.noun-content {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    -webkit-animation: moveIn .3s ease-out;
            animation: moveIn .3s ease-out;
} 
.noun-input-container {
    padding-bottom: 15px;
} 
.noun-form {
    display: flex;
    justify-content: center;
} 
@media (max-width: 530px){ 
.noun-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 5px;
        margin-left: 5px
}
    } 
.noun-form input {
    padding: 5px;
    outline: none;
} 
.noun-form input:not(:first-child) {
        margin-left: 10px;
    } 
@media (max-width: 530px){ 
.noun-form input {
        margin-bottom: 10px
}
    } 
.noun-meaning {
    text-align: center;
    padding: 20px;
} 
.article-input {
    max-width: 100px;
} 
@media (max-width: 530px){ 
.article-input {
        max-width: 70px
}
    } 
.hide-button {
    /* display: none; */
    border: 1px solid #eaeaea;
    border-radius: 0;
    background: #fff;
    padding: 7px;
    margin-left: 10px;
    font-size: 0.8em;
    color: #c7c7c7;
} 
.add-verb-container {
    display: flex;
    align-items: center; 
    flex-direction: column; 
    padding-bottom: 70px;
} 
@media (max-width: 530px){ 
.add-verb-container {
        display: block
}
    } 
@media (min-width: 800px){ 
.add-verb-container {
        padding-top: 20px
}
    } 
.add-verb-click:hover {
    color: #ff9e9e;
} 
.add-verb-language {
    margin-bottom: 20px;
    display: flex;
} 
.add-verb-language div {
        margin-left: 20px;
    } 
.add-verb-container form {
     display: flex;
     flex-direction: column; 
     justify-content: center; 
} 
.add-verb-container button {
    padding-left: 20px;
    padding-right: 20px; 
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    color: #666666;
    background: white;
    border: 1px solid #e0e0e0;
    border-radius: 0;
} 
.add-verb-input {
    background: white;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
} 
.add-verb-input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 
.add-verb-input input {
    padding: 4px;
    margin-left: 30px;
} 
.add-verb-input label {
    margin-top: 3px;
} 
.same-tense {
    color: lightcoral;
    text-align: center;
    margin-bottom: 8px;
} 
.input-error-container {
    text-align: center;
} 
.input-error {
    border: 1px solid lightcoral;
} 
.input-error-text {
    margin-top: 5px;
    color: lightcoral;
} 
.chat-container {
    /* flex: 0.5; */
    flex: 1;
    display: flex;
    flex-direction: row;  
    background: white;
} 
/* margin-right: 100px; */ 
.chat-container-right {
        flex: 0.5;
        display: flex;
        flex-direction: column;
        border-left: 1px solid #eaeaea;
    } 
.chat-container-left {
        flex: 0.5;
        display: flex;
        flex-direction: row;
        background: white;
        color: black;
        border-right: 1px solid #eaeaea;
    } 
.chat-container-left-rooms {
            display: flex;
            flex-direction: row;    
            justify-content: center;  
            margin: 10px;      
        } 
.chat-container-left-users {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
        } 
.chat-container-left-private {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            border-left: 1px solid #eaeaea;
        } 
.chat-container-messages {
        flex-grow: 1; 
        background: white;
        overflow-y: scroll; 
    } 
.chat-container-messages-single {
             color: #262626;
             padding: 5px;
             border-bottom: 1px solid #eaeaea;
             word-break: break-all;
         } 
.chat-container-messages-single-user {
                 color: #9bc1ff;
                 font-size: 1.1em;
                 margin-right: 5px;
             } 
.chat-input {  
    width: 100%;
    padding: 10px;
    bottom: 0; 
    border: none;
    border-top: 1px solid #eaeaea;
} 
.chat-room {
    padding: 10px;
    color: black;
    font-size: 1.2em;
} 
.chat-room-joined {
        color: tomato;
    } 
.chat-hide { 
    /* opacity: 0; */
     display: none !important; 
} 
.chat-single-message-span {
    /* color: red; */
    /* white-space: pre-line; */
    /* display: block; */
    /* word-wrap: break-word; */
} 
.sign-in-message {
    font-size: 2em;
    color: black;
    display: flex;
    margin: 0 auto;
    align-items: center;
    /* justify-content: center; */
} 
.chat-icon { 
    position: fixed;
    right: 0;
    bottom: 0;
    color: white;
    text-decoration: none;
    display: none;
} 
@media (min-width: 800px){ 
.chat-icon {
        display: block;
        margin-right: 10px; 
        margin-bottom: 10px;
        background: #5b5b5b;
        border-radius: 4px;
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px
}
    } 
.chat-icon-expanded {
        color: red;
        margin: 0;
        padding: 0;
        height: 400px;
        width: 100%;
         display: flex; 
         border-top: 1px solid #eaeaea;
    } 
/* justify-content: flex-end;   */ 
.chat-icon-expanded-button {
            /* display: fixed; */
            /* color: #3f3f3f; */
            color: #5b5b5b;
            position: fixed;
            bottom: 400px;
            right: 0;
            margin-right: 20px;
            padding: 5px;
            padding-left: 20px;
            padding-right: 20px;
            border: 1px solid #eaeaea;
        } 
.plural {
    display: flex;
    justify-content: center;
    color: black; 
    background: white; 
    margin-bottom: 3px;
} 
@media (min-width: 800px){ 
.plural {
        padding-top: 30px
}
    } 
.plural-inner {
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        -webkit-animation: moveIn 1s ease-out;
                animation: moveIn 1s ease-out;
    } 
.plural-noun {
        margin-right: 20px;
    } 
.plural-header {
        display: flex;
        justify-content: center;
        color: #7f7f7f;
        font-size: 1em;
        margin-bottom: 20px;
    } 
.plural-input {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        color: #7f7f7f;
        /* margin-top: 20px; */
        font-size: 1.0em;
    } 
@media (max-width: 530px){ 
.plural-input {
            margin: 0 5px 0 5px
            /* width: auto; */
    }
    } 
.plural-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.plural-display {
    display: flex;
    flex-direction: column;
} 
.hint-plural {
    text-align: center;
    margin-top: 25px; 
    font-size: 0.8em;
} 
.sentence-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
} 
.sentence-block-mixed-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    min-height: 60px;
    /* margin-top: 60px; */
    max-width: 800px;
    -webkit-animation: moveIn .3s ease-out;
            animation: moveIn .3s ease-out;
} 
.sentence-block-mixed {
    cursor: pointer;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 4px;
    min-width: 50px;
    margin-right: 5px;
    color: black;  
    padding: 15px;
} 
@media (max-width: 530px){ 
.sentence-block-mixed {
        margin-bottom: 10px
}
    } 
.sentence-block-mixed:hover {
        color: #adadad;
    } 
.sentence-block-mixed-hide {
        color: #f4f4f4;
    } 
.sentence-block-mixed-hide:hover {
            color: #f4f4f4;
        } 
.less-padding {
    padding-left: 0;
    padding-right: 5px;
} 
.sentence-block-translation {
    margin-top: 50px;
    font-family: 'Spectral SC', serif;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    /* border-bottom: 1px solid #bfbfbf; */
    width: 100%;
} 
.sentence-block-correct {
    color: #94ef94 !important;
} 
.sentence-block-incorrect {
    color: #fc2551 !important;
} 
.chat-full-container {
        color: #000; 
        width: 100%;
        background: #232323;
        
        height: 85vh;
        /* height: calc(100vh - 61px); */
        display: flex;
        flex: 1;
    } 
@media (max-width: 530px){ 
.chat-full-container {
            flex-direction: column
    }
    } 
@media (min-width: 1800px){ 
.chat-full-container {
            height: 90vh
            /* width: auto; */
    }
    } 
.chat-full-general {
        height: 90vh;
        width: 70vw;
    } 
@media (max-width: 530px){ 
.chat-full-general {
            width: auto
    }
    } 
/* display: flex; */ 
.chat-full-general-messages {
            height: 80vh;
            /* background: pink; */
            padding-left: 3px;
            overflow-y: scroll;
            background-color: #fff;
            /* border-top: 1px solid black; */
        } 
/* font-family: 'Didact Gothic', sans-serif; */ 
@media (min-width: 1800px){ 
.chat-full-general-messages {
                height: 80vh
        }
    } 
/* background-color: rgb(232, 232, 232); */ 
.chat-full-general-messages-single {
                border-bottom: 1px solid #dbdbdb;
                padding-top: 5px;
                padding-bottom: 5px;
                /* font-family: 'Spectral SC', serif; */
                font-family: 'Didact Gothic', sans-serif;
            } 
.chat-full-general-messages-single-user {
                    color: rgb(74, 187, 221);
                } 
/* background: tomato; */ 
.chat-full-general-input {
            /* height: 50px; */
            height: 5vh;
            width: 100%;
            background: #000;
        } 
.chat-full-general-input-field {
                color: #000;
                padding-left: 3px;
                width: 100%;
                height: 100%;
                border: none;
                border-top: 1px solid black;
            } 
@media (max-width: 530px){ 
.chat-full-general-input-field {
                    height: 40px;
                    /* margin-top: 20px; */
                    position: fixed;
                    bottom: 0
            }
    } 
.chat-full-notification {
        position: fixed;
        z-index: 10;
        top: 11vh;
        right: 1vw;
        border: 1px solid #dbdbdb;
        padding: 10px;
        background: #fff;
        color: #bdbdbd;
    } 
.chat-full-close-button {
        position: absolute;
        color: #fff;
        padding: 5px;
        right: 15px;
    } 
.chat-full-circle {
        background: red;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-left: 5px;
        margin-top: 2px;
        display: inline-block;
    } 
.chat-full-users {
        color: #d1d1d1;
        height: 90vh;
        /* background: #3a3a3a; */
        background: #232323;
        display: flex;
        flex-direction: column;
        align-items: center;
       
    } 
/* justify-content: center; */ 
.chat-full-users-container {
            margin-top: 20px;
        } 
.chat-full-users-single {
            text-align: center;
            padding-top: 5px;
            padding-bottom: 5px;
        } 
.chat-full-users-single:hover {
                background: #191919;
            } 
.chat-full-users-single-clicked {
                color: #fff;
                background: #191919;
            } 
.chat-full-users-private {
            position: absolute;
            /* background: #e8e8e8; */
            color: #000;
            left: 15vw;
            height: 45vh;
            width: 30vw;
            background: #191919;
            /* padding: 10px; */
            /* border: 10px solid #191919; */
            padding-left: 10px;
        } 
@media (min-width: 800px){ 
.chat-full-users-private {
                /* border-left: 5px solid #191919;
                border-top: 5px solid #191919; */
        }
    } 
.chat-full-users-private-header {
                text-align: center;
                border-bottom: 1px solid #000;
            } 
.chat-full-users-private-messages {
                /* background: #191919; */
                background: #232323;
                border-bottom: 1px solid #000;
                color: #fff;
                height: 41vh;
                overflow-y: scroll;
            } 
.chat-full-users-private-messages-single {
                    word-break: break-all;
                    border-bottom: 1px solid #353535;
                    padding-top: 2px;
                    padding-bottom: 3px;
                } 
.chat-full-users-private-messages-single-person {
                        color: pink;
                        margin-right: 4px;
                    } 
.chat-full-users-private-input {
                height: 4vh;
                background: pink;
            } 
.chat-full-users-private-input-field {
                    width: 100%;
                    height: 4vh;
                    border: none;
                    padding-left: 10px;
                } 
.chat-full-users-title {
            width: 15vw;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid black;
        } 
@media (min-width: 800px){ 
.chat-full-users {
            width: 15vw
       
    }
    } 
.chat-full-private {
        color: #fff;
        display: flex;
        height: 5vh;
        background: #232323;
        width: 100%;
        display: flex;
        align-items: center;
    } 
@media (min-width: 1800px){ 
.chat-full-private {
            height: 4vh
    }
    } 
.other-person {
    color: gold;
} 
.other-person-notification {
        margin-left: 5px;
        color: #72a8ff;
    } 
.hide-chat-button {
    display: none;
} 
.panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding-top: 30px;
} 
.panel-header {
        margin-bottom: 20px;
    } 
.panel-search {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    } 
.panel-search input {
            padding: 10px;
            border: none;
            border-radius: 3px;
        } 
.panel-links {
        display: flex;  
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 600px;
    } 
.panel-links a {
            padding: 20px 20px 20px 20px;
            text-align: center;
            /* color: #fff; */
            font-family: 'Spectral SC', serif;
            font-size: 0.9em;
            color: #afafaf;
            /* background-color: #bfe3ff; */
            background-color: #fff;
            text-decoration: none;
            border-radius: 3px;
            /* border: 1px solid black; */
            margin: 10px;
        } 
.panel-links a:hover {
                color: #000;
            } 
.tutorial {
    height: 500px;
    width: 600px;
    border: 1px solid lightblue;
} 
.user-flashcard {
    margin: 0 auto;
    color: #afafaf;
    overflow-wrap: break-word;
    /* padding: 80px 150px 80px 150px; */
    padding: 80px 0;
    text-align: center;
    width: 300px;
    background-color: #fff;
    border-radius: 4px;
    /* border: 1px solid #fff; */
    margin-top: 50px;
    font-size: 1.3em;
} 
.user-flashcard-desc {
        font-size: 0.8em;
    } 
.user-flashcard-author {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 0.9em;
} 
.user-flashcard-title {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
} 
.user-flashcard-display {
    padding-top: 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex: 1;
} 
.user-flashcard-display-content {
        display: flex;
        justify-content: center;
    } 
.user-flashcard-display-content div {
            font-family: 'Spectral SC', serif;
            /* font-size: 0.9em; */
        } 
.user-flashcard-list {
    padding-top: 30px;

    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
} 
.user-flashcard-list-item {
        margin-bottom: 15px;
        display: flex;
        
    } 
.user-flashcard-list-item a {
            background-color: #fff;
            border-radius: 4px;
            padding: 10px 20px 10px 20px;
            text-align: center;
            text-decoration: none;
            color: #000;
        } 
.user-flashcard-list-item a:hover {
                color: #A39BA8;
            } 
.server-error {
    text-align: center;
    color: red;
} 
.signup input {
    padding: 5px;
    margin: 10px;
} 
.signup label {
    display: flex;
    align-items: center;
} 
@-webkit-keyframes moveIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} 
@keyframes moveIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} 
/* 
.move-in {
    transition: .7s;
} */ 
@-webkit-keyframes appear {
    0% {
        -webkit-transform: translateX(-100px);
                transform: translateX(-100px);
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
} 
@keyframes appear {
    0% {
        -webkit-transform: translateX(-100px);
                transform: translateX(-100px);
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
} 
.loader {
    width: 100%;
    height: 30px;
    background: #a4c2f4;
    -webkit-animation: slide 5s linear infinite;
            animation: slide 5s linear infinite;
} 
@-webkit-keyframes slide {
    0% { width: 0; }
    50% { width: 100%; }
    100% { width: 0; }
} 
@keyframes slide {
    0% { width: 0; }
    50% { width: 100%; }
    100% { width: 0; }
} 
.push-container {
    display: flex;
    justify-content: center; 
    flex: 1;
    transition: -webkit-transform 0.9s;
    transition: transform 0.9s;
    transition: transform 0.9s, -webkit-transform 0.9s;
    font-size: 1.1em;
} 
@media (max-width: 530px){ 
.push-container {
        top: 20vh
}
    } 
.app-push {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
} 
.refresh-icon {
    cursor: pointer;
    font-size: 1.1em;
    display: flex;
    justify-content: flex-end;
} 
.refresh-icon:hover {
        color: black;
    } 
@media (max-width: 600px){
    input {
        border: 1px solid #d8d8d8;
    }
    .refresh-icon {
        justify-content: center;
        margin-bottom: 20px;
    }
    .refresh-icon i {
        padding: 5px;
    }
} 
.bg-verb {
    background-color: #9D858D;
} 
.bg-noun {
    background-color: #A39BA8;
} 
.bg-tenses {
    background-color: #94849B;
} 
.link-verb {
    color: #9D858D !important;
    border-bottom: 1px solid #9D858D;
} 
.link-noun {
    color: #A39BA8 !important;
    border-bottom: 1px solid #A39BA8 ;
} 
.link-tenses {
    color: #94849B !important;
    border-bottom: 1px solid #94849B;
} 
/* @import 'Draft.css';  */ 
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|PT+Serif'); */ 
/* @import url('https://fonts.googleapis.com/css?family=Lora'); */ 
/* @import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed'); */ 
/* @import url('https://fonts.googleapis.com/css?family=Didact+Gothic'); */ 
* {
    margin: 0; 
    padding: 0;
    font-family: 'Zilla Slab', serif;
    outline: none;
    box-sizing: border-box;
} 
html {
    height: 100%;
} 
body {
    height: 100%;
} 
#root {
    height: 100vh;
}