.push-container {
    display: flex;
    justify-content: center; 
    flex: 1;
    transition: transform 0.9s;
    font-size: 1.1em;
    @mixin atSmall {
        top: 20vh;
    }
}
.app-push {
    transform: translateX(-100px);
}