.loader {
    width: 100%;
    height: 30px;
    background: #a4c2f4;
    animation: slide 5s linear infinite;
}
@keyframes slide {
    0% { width: 0; }
    50% { width: 100%; }
    100% { width: 0; }
}